# Project exclude paths
/venv/
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache

# IDE
.vscode
.idea
.env

# logs and binary files
*.log

# serverless framework and other node.js stuff
node_modules
.serverless
package.json
package-lock.json
