# Project exclude paths
/venv/
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache

# IDE
.vscode
.idea
.env

# logs and binary files
*.log
node_modules
cdk.out
.build